#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	transition: 1s;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.c1{
	background-color: aqua;

}

.c2{
	border:solid 1px;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.green{
	background-color: green;
}